
{% section 'product' %}
  <div class="related-products">

<h2> Related Products </h2>
<div class="related-products-list">
{% include 'related-products' %}
</div>
 </div>





{% comment %}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{% assign size_chart = product.metafields.sizechart %}
{% assign key = 'url' %}

{% for option in product.options %}
  {% if option == 'Color' %}
    {% assign colorOptionIndex = forloop.index0 %}
    {% assign color = product.selected_or_first_available_variant.options[colorOptionIndex] %}
  {% endif %}
{% endfor %}

{% assign found = false %}
{% for c in product.collections %}
  {% if c.handle == "footwear" %}
    {% assign found = true %}
  {% endif %}
{% endfor %}

<div class="product-modal">
    <a href="#" class="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a>
    <div class="gallery-wrapper container">
        <ul class="gallery list-unstyled">
        {% for image in product.images %}
            <li>
                <img src="{{ image.src | img_url: '1280x' }}" alt="{{ image.alt | escape }}" class="img-responsive img-thumb">
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="overlay"></div>
</div>

{% if size_chart.url %}

<div class="chart-modal modal-box">
    <a href="#" class="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a>
    <div class="gallery-wrapper container">
        <ul class="gallery list-unstyled">
          <li>
              <img src="{{ size_chart.url }}" alt="Size Chart for {{ product.title }}" class="img-responsive img-thumb size-chart-img">
          </li>
        </ul>
    </div>
    <div class="overlay"></div>
</div>

{% elsif found == true %}

<div class="chart-modal modal-box">
    <a href="#" class="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a>
    <div class="gallery-wrapper container">
        <ul class="gallery list-unstyled">
          <li>
              <img src="{{ 'footware-size-chart.jpg' | asset_url }}" alt="Size Chart for {{ product.title }}" class="img-responsive img-thumb" style="margin:auto">
          </li>
        </ul>
    </div>
    <div class="overlay"></div>
</div>

{% endif %}

{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_img_src = current_variant.featured_image.src | default: product.featured_image.src -%}
{%- assign featured_img_alt = current_variant.featured_image.alt | default: product.featured_image.alt -%}

{% comment %}

{% if product.images.size > 1 %}
<div class="product-thumbnails col-lg-1 col-sm-1 hidden-xs">
    <ul class="product-thumbs product-single__thumbnails product-single__thumbnails-{{ section.id }} list-unstyled">
        {% for image in product.images %}
        <li class="product-single__thumbnails-item" data-color="{{ image.alt }}">
          <a href="{{ image.src | img_url: product_image_size }}" class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}">
            <img src="{{ image.src | img_url: '88x' }}" data-lrg="{{ image.src | img_url: '1280x' }}" class="img-responsive img-thumb product-single__thumbnail-image" alt="{{ image.alt }}">
          </a>
        </li>
        {% endfor %}
    </ul>




</div>
{% endif %}

{% endcomment %}
<div class="product-item col-lg-7 col-sm-6 hidden-xs">

     {% if product.images.size > 1 %}
    <ul class="product-thumbs product-single__thumbnails product-single__thumbnails-{{ section.id }} ">
        {% for image in product.images %}
        <li class="product-single__thumbnails-item " data-background-color="{{ image.alt }}">
      
            <img src="{{ image.src | img_url: '88x' }}" data-lrg="{{ image.src | img_url: '1280x' }}" class="img-responsive img-thumb product-single__thumbnail-image" alt="{{ image.alt }}">
       
        </li>
        {% endfor %}
    </ul>

{% endif %}  

        <img id="FeaturedImage-{{ section.id }}" src="{{ featured_img_src | img_url: '1280x' }}" alt="{{ featured_img_alt | escape }}" class="img-responsive product-img">
  


</div>

<section class=" product-item--info section-product product-02 section-container " itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
<meta itemprop="name" content="{{ product.title }}">
<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
<meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">
        <div class="product-info-container col-lg-4 col-sm-4 col-xs-12">
            <div id="bb-product" data-sku"" data-name"" data-price="">
              <meta itemprop="priceCurrency" content="{{ shop.currency }}">
              <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
                <div class="product-page-container">
                    <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">
                        <div class="product-detail">
                              <h2>{{ product.title }}</h2>
                                <div class="product-price" data-price-wrapper>
        <span data-product-price>
          {{ current_variant.price | money }}
        </span>

        
      </div>



<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
    <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

    <form action="/cart/add" method="post" enctype="multipart/form-data">
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          <div class="selector-wrapper js">
            

            <select
              id="SingleOptionSelector-{{ forloop.index0 }}"
              data-single-option-selector
              data-index="option{{ option.position }}">
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endunless %}

      <select name="id" class="no-js" data-product-select>
        {% for variant in product.variants %}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>

{% comment %}
      <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
      <input type="number" id="Quantity" name="quantity" value="1" min="1">
{% endcomment %}

    

      <button class="add-to-cart"
        type="submit"
        name="add"
        data-add-to-cart
        {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          <span data-add-to-cart-text>
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
      </button>
    </form>

  </div>
    <div class="product-description">
  <p>
    {{ product.description | strip_html }}
    </p>
  </div>

    <div class="col-sm-6"><a href="#" id="sizeInit" class="btn  btn-size btn-add btn-block text-uppercase">Size Chart</a></div>

       

                           
</section>

<div class="related-products">

<h2> Related Products </h2>
</div>
{% include 'related-products' %}

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}


{% comment %}
<script>

  jQuery(function($) {
    
    var $colorSelect = $('.option-selector-Color');
    var $currentColor = $('.option-selector-Color option:selected').val();
    var $thumbnails = $('.product-single__thumbnails').find('li');
    var product = {{ product | json }};
    console.log($currentColor);
    
    function showValues() {
      var product = {{ product | json }};

      $(product.variants).each(function(i, item) { // remove unavailable variants
        if (item.option2 == $currentColor) {
          if (!item.available) {
            $('.product-option option[value="' + item.option1 + '"]').attr('disabled','disabled').hide();
            product.variants.splice(i, 1);
          } else {
            $('.product-option option[value="' + item.option1 + '"]').removeAttr('disabled').show();
            product.variants.splice(i, 1);
          }
        }
      });
    }
    
    function showThumbnails() {
      $thumbnails.each(function() {
        if( $(this).data('color') != $currentColor) {
          $(this).hide();
        } else {
          $(this).fadeIn();
        }
      });
    }
    showThumbnails();
    showValues();
    
    $(document).on('change', $colorSelect, function(e) {
      $currentColor = $('.option-selector-Color option:selected').val();
      showThumbnails();
      showValues();
    });   
    
  });
   
</script>

{% endcomment %}

{% endcomment %}
