

{%- assign collection = collections[section.settings.collection] -%}



<div class=" featured-collection--item1">
  <img src="{{ section.settings.collection-img--1 | img_url: 'master' }}" />
  <div class="featured-collection--link"><a href="/products/{{ section.settings.collection-link--1 }}"><h3>{{ section.settings.collection-img--1--text }}</h3></a></div>
</div>
 
 <div class="featured-collection--item2">
  <img src="{{ section.settings.collection-img--2 | img_url: 'master' }}" />
  <div class="featured-collection--link"><a href="/products/{{ section.settings.collection-link--2 }}"><h3>{{ section.settings.collection-img--2--text }}</h3></a></div>

</div>


<div class="featured-collection--item3">
  <img src="{{ section.settings.collection-img--3 | img_url: 'master' }}" />
  <div class="featured-collection--link"><a href="/products/{{ section.settings.collection-link--3 }}.url"><h3>{{ section.settings.collection-img--3--text }}</h3></a></div>

</div>
 
 <div class="featured-collection--item4">
  <img src="{{ section.settings.collection-img--4 | img_url: 'master' }}" />
  <div class="featured-collection--link"><a href="/products/{{ section.settings.collection-link--4 }}"><h3>{{ section.settings.collection-img--4--text }}</h3></a></div>

</div>


<div class="featured-collection--item5">
  <img src="{{ section.settings.collection-img--5 | img_url: 'master' }}" />
  <div class="featured-collection--link"><a href="/products/{{ section.settings.collection-link--5 }}"><h3>{{ section.settings.collection-img--5--text }}</h3></a></div>

</div>
 
 <div class="featured-collection--item6">
  <img src="{{ section.settings.collection-img--6 | img_url: 'master' }}" />
  <div class="featured-collection--link"><a href="/products/{{ section.settings.collection-link--6 }}"><h3>{{ section.settings.collection-img--6--text }}</h3></a></div>

</div>

<div class="featured-collection--item7">
  <img src="{{ section.settings.collection-img--7 | img_url: 'master' }}" />
  <div class="featured-collection--link"><a href="/products/{{ section.settings.collection-link--7 }}"><h3>{{ section.settings.collection-img--7--text }}</h3></a></div>

</div>
 
 <div class="featured-collection--item8">
  <img src="{{ section.settings.collection-img--8 | img_url: 'master' }}" />
  <div class="featured-collection--link"><a href="/products/{{ section.settings.collection-link--8 }}"><h3>{{ section.settings.collection-img--8--text }}</h3></a></div>

</div>

 <div class="featured-collection--item9">
  <img src="{{ section.settings.collection-img--9 | img_url: 'master' }}" />
  <div class="featured-collection--link"><a href="/products/{{ section.settings.collection-link--9 }}"><h3>{{ section.settings.collection-img--9--text }}</h3></a></div>

</div>

<div class="featured-collection--item10">
  <img src="{{ section.settings.collection-img--10 | img_url: 'master' }}" />
  <div class="featured-collection--link"><a href="/products/{{ section.settings.collection-link--10 }}"><h3>{{ section.settings.collection-img--10--text }}</h3></a></div>

</div>
 
 <div class="featured-collection--item11">
  <img src="{{ section.settings.collection-img--11 | img_url: 'master' }}" />
  <div class="featured-collection--link"><a href="/products/{{ section.settings.collection-link--11 }}"><h3>{{ section.settings.collection-img--11--text }}</h3></a></div>

</div>

 
 <div class="featured-collection--item12">
  <img src="{{ section.settings.collection-img--12 | img_url: 'master' }}" />
  <div class="featured-collection--link"><a href="/products/{{ section.settings.collection-link--12 }}"><h3>{{ section.settings.collection-img--12--text }}</h3></a></div>

</div>


{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "image_picker",
        "id": "collection-img--1",
        "label": "collection-img--1"
      },

      {
        "id": "collection-link--1",
        "type": "product",
        "label": "collection-link--1"
      },

       {
        "type": "image_picker",
        "id": "collection-img--2",
        "label": "collection-img--2"
      },

       {
        "id": "collection-link--2",
        "type": "product",
        "label": "collection-link--2"
      },

       {
        "type": "image_picker",
        "id": "collection-img--3",
        "label": "collection-img--3"
      },

       {
        "id": "collection-link--3",
        "type": "product",
        "label": "collection-link--3"
      },

       {
        "type": "image_picker",
        "id": "collection-img--4",
        "label": "collection-img--4"
      },

       {
        "id": "collection-link--4",
        "type": "product",
        "label": "collection-link--4"
      },

       {
        "type": "image_picker",
        "id": "collection-img--5",
        "label": "collection-img--5"
      },

       {
        "id": "collection-link--5",
        "type": "product",
        "label": "collection-link--5"
      },

       {
        "type": "image_picker",
        "id": "collection-img--6",
        "label": "collection-img--6"
      },

       {
        "id": "collection-link--6",
        "type": "product",
        "label": "collection-link--6"
      },

       {
        "type": "image_picker",
        "id": "collection-img--7",
        "label": "collection-img--7"
      },

       {
        "id": "collection-link--7",
        "type": "product",
        "label": "collection-link--7"
      },

       {
        "type": "image_picker",
        "id": "collection-img--8",
        "label": "collection-img--8"
      },

       {
        "id": "collection-link--8",
        "type": "product",
        "label": "collection-link--8"
      },


       {
        "type": "image_picker",
        "id": "collection-img--9",
        "label": "collection-img--9"
      },

       {
        "id": "collection-link--9",
        "type": "product",
        "label": "collection-link--9"
      },

       {
        "type": "image_picker",
        "id": "collection-img--10",
        "label": "collection-img--10"
      },

      {
        "id": "collection-link--10",
        "type": "product",
        "label": "collection-link--10"
      },

       {
        "type": "image_picker",
        "id": "collection-img--11",
        "label": "collection-img--11"
      },

      {
        "id": "collection-link--11",
        "type": "product",
        "label": "collection-link--11"
      },

        {
        "type": "image_picker",
        "id": "collection-img--12",
        "label": "collection-img--12"
      },

      {
        "id": "collection-link--12",
        "type": "product",
        "label": "collection-link--12"
      },

      {
        "type": "text",
        "id": "collection-img--1--text",
        "label": "collection-img--1--text"
      },

       {
        "type": "text",
        "id": "collection-img--2--text",
        "label": "collection-img--2--text"
      },

       {
        "type": "text",
        "id": "collection-img--3--text",
        "label": "collection-img--3--text"
      },

       {
        "type": "text",
        "id": "collection-img--4--text",
        "label": "collection-img--4--text"
      },

       {
        "type": "text",
        "id": "collection-img--5--text",
        "label": "collection-img--5--text"
      },

       {
        "type": "text",
        "id": "collection-img--6--text",
        "label": "collection-img--6--text"
      },

       {
        "type": "text",
        "id": "collection-img--7--text",
        "label": "collection-img--7--text"
      },

       {
        "type": "text",
        "id": "collection-img--8--text",
        "label": "collection-img--8--text"
      },


       {
        "type": "text",
        "id": "collection-img--9--text",
        "label": "collection-img--9--text"
      },

       {
        "type": "text",
        "id": "collection-img--10--text",
        "label": "collection-img--10--text"
      },

       {
        "type": "text",
        "id": "collection-img--11--text",
        "label": "collection-img--11--text"
      },

        {
        "type": "text",
        "id": "collection-img--12--text",
        "label": "collection-img--12--text"
      },


      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
