<div id="product" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

{%- assign current_variant = product.selected_or_first_available_variant -%}
{% assign size_chart = product.metafields.sizechart %}
{% assign key = 'url' %}

{% for option in product.options %}
  {% if option == 'Color' %}
    {% assign colorOptionIndex = forloop.index0 %}
    {% assign color = product.selected_or_first_available_variant.options[colorOptionIndex] %}
  {% endif %}
{% endfor %}

{% assign found = false %}
{% for c in product.collections %}
  {% if c.handle == "footwear" %}
    {% assign found = true %}
  {% endif %}
{% endfor %}

<div class="product-modal">
    <a href="#" class="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a>
    <div class="gallery-wrapper container">
        <ul class="gallery list-unstyled">
        {% for image in product.images %}
            <li>
                <img src="{{ image.src | img_url: '1280x' }}" alt="{{ image.alt | escape }}" class="img-responsive img-thumb">
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="overlay"></div>
</div>


<div class="chart-modal modal-box">
    <a href="#" class="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a>
    <div class="gallery-wrapper ">
        <ul class="gallery list-unstyled">
          <li>

          {% if collection.handle == "shoes" %}
              <img src="https://cdn.shopify.com/s/files/1/2140/7529/files/BRANDBLACK_SIZE_CHART.jpeg?5688401156162915247" alt="Size Chart for {{ product.title }}" class="img-responsive img-thumb size-chart-img">
          {% else collection.handle == "SS18 BRIGGS"  %}
                  <img src="https://cdn.shopify.com/s/files/1/0400/1917/files/BOTTOMS-Pants_BB1160.jpg?580322857040754913" alt="Size Chart for {{ product.title }}" class="img-responsive img-thumb size-chart-img">
          {% else collection.handle == "SS18 MILFORD"  %}
                  <img src="https://cdn.shopify.com/s/files/1/0400/1917/files/TOPS-Long_sleeve_BB1230.jpg?580322857040754913" alt="Size Chart for {{ product.title }}" class="img-responsive img-thumb size-chart-img">

       

          {% else collection.handle == "SS18 IAN"  %}
                  <img src="https://cdn.shopify.com/s/files/1/0400/1917/files/TOPS-Long_sleeve_BB1181.jpg?580322857040754913" alt="Size Chart for {{ product.title }}" class="img-responsive img-thumb size-chart-img">

           {% else collection.handle == "SS18 COOPER"  %}
                  <img src="https://cdn.shopify.com/s/files/1/0400/1917/files/TOPS-Long_sleeve_BB1180.jpg?580322857040754913" alt="Size Chart for {{ product.title }}" class="img-responsive img-thumb size-chart-img"> 

             {% else collection.handle == "SS18 STANDARD"  %}
                  <img src="https://cdn.shopify.com/s/files/1/0400/1917/files/TOPS-Long_sleeve_BB1157D.jpg?580322857040754913" alt="Size Chart for {{ product.title }}" class="img-responsive img-thumb size-chart-img"> 

                  {% else collection.handle == "SS18 PULASKI"  %}
                  <img src="https://cdn.shopify.com/s/files/1/0400/1917/files/TOPS-JACKET_BB1166.jpg?580322857040754913" alt="Size Chart for {{ product.title }}" class="img-responsive img-thumb size-chart-img">                      

                  {% else collection.handle == "SS18 HORNE"  %}
                  <img src="https://cdn.shopify.com/s/files/1/0400/1917/files/BOTTOMS-Short_BB1124.jpg?580322857040754913" alt="Size Chart for {{ product.title }}" class="img-responsive img-thumb size-chart-img"> 

                    {% else collection.handle == "SS18 TREMAYNE"  %}
                  <img src="https://cdn.shopify.com/s/files/1/0400/1917/files/TOPS-JACKET_BB1163A.jpg?580322857040754913" alt="Size Chart for {{ product.title }}" class="img-responsive img-thumb size-chart-img">                      

          {% endif %}

          </li>
        </ul>
    </div>
    <div class="overlay"></div>
</div>



  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

<div class="product-item col-lg-7 col-sm-6 hidden-xs">
     {% if product.images.size > 1 %}
    <ul class="product-thumbs product-single__thumbnails product-single__thumbnails-{{ section.id }} ">
        {% for image in product.images %}
        <li class="product-single__thumbnails-item " data-background-color="{{ image.alt }}">
      
            <img src="{{ image.src | img_url: '88x' }}" data-lrg="{{ image.src | img_url: '1280x' }}" class="img-responsive img-thumb product-single__thumbnail-image" alt="{{ image.alt }}">
       
        </li>
        {% endfor %}
    </ul>

{% endif %}  

      
  


</div>


    <img id="FeaturedImage-{{ section.id }}" src="{{ featured_image | img_url: '480x480' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image class="img-responsive product-img">


<div class="product-item col-lg-7 col-sm-6 hidden-xs">

  <h2>{{ product.title }}</h2>
 
      <div data-price-wrapper>
        <span data-product-price>
          {{ current_variant.price | money }}
        </span>

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </s>
        {% endif %}
      </div>


  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
    <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

    <form action="/cart/add" method="post" enctype="multipart/form-data">
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          <div class="selector-wrapper js">
            <label for="SingleOptionSelector-{{ forloop.index0 }}">
            </label>

            <select
              id="SingleOptionSelector-{{ forloop.index0 }}"
              data-single-option-selector
              data-index="option{{ option.position }}">
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endunless %}

      <select name="id" class="no-js" data-product-select>
        {% for variant in product.variants %}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>


      <button class=" {% if current_variant.available %}add-to-cart{% else %}sold-out{% endif %}"
        type="submit"
        name="add"
        data-add-to-cart
        {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          <span data-add-to-cart-text>
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
      </button>
    </form>

  </div>

     <div class="product-description">
  <p>
    {{ product.description | strip_html }}
    </p>
  </div>
 
     <div class="col-sm-6"><a href="#" id="sizeInit" class="btn  btn-size btn-add btn-block text-uppercase">Size Chart</a></div>


  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>

<script>
 $(document).ready(function() {
    
    var $colorSelect = $('.option-selector-Color');
    var $currentColor = $('.option-selector-Color option:selected').val();
    var $thumbnails = $('.product-single__thumbnails').find('li');
    var product = {{ product | json }};
    console.log($currentColor);
    
    function showValues() {
      var product = {{ product | json }};

      $(product.variants).each(function(i, item) { // remove unavailable variants
        if (item.option2 == $currentColor) {
          if (!item.available) {
            $('.product-option option[value="' + item.option1 + '"]').attr('disabled','disabled').hide();
            product.variants.splice(i, 1);
          } else {
            $('.product-option option[value="' + item.option1 + '"]').removeAttr('disabled').show();
            product.variants.splice(i, 1);
          }
        }
      });
    }
 
    $(document).on('change', $colorSelect, function(e) {
      $currentColor = $('.option-selector-Color option:selected').val();
      showThumbnails();
      showValues();
    });   
    
  });
   
</script>



{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}

